<div class='row'>
  <div class='small-12 large-8 large-centered columns'>
    <h2><b>Our Story</b></h2><p>Hello, John Moon here, founder of Pair
Studying. As an entrepreneur, it was always painful to
rely 100% on an outsourced developer to build my idea. This motivated me to
learn how to program. My first language was in PHP, at a small local
shop. In 2013 I joined a programming bootcamp to accelerate my Ruby on
Rails learning.</p>
    <h3>What you get</h3>
    <ol>
      <li><p><b class='pstyle'>One-on-one mentorship.</b> Mentors allows students to learn and get
      unstuck quickly to focus more on learning (problem solving is one of our
      teaching points, but it isn't time effective in the first 2 weeks).<p></li>
      <li><p><b class='pstyle'>Course material.</b> Learning programming alone can be difficult near to
      impossible. There are thousands of free materials out there, but which
      ones will be suited for you at the moment? Through curated content and in-house challenges we provide
      students to focus on topics that will benefit them the most.
      </p></li>
      <li><p><b class='pstyle'>Weekly guest speaker</b> who has been there and done that. As
      students you will have the opportunity to pick their brains for your own
      growth. You will also be shared with previous guest speaker videos as
      well.
      </p></li>
      <li><p><b class='pstyle'>Support after course.</b> Programming isn't over yet! After the
      course ends you will have access to the group,
      office hours, and weekly guest speaker videos. We believe it's important
      for our students to keep learning and growing with the help of others.</p></li>
    </ol>
    <h3>Experience:</h3><p>In the past 6 months, I have been activily
using Ruby and Ruby on Rails to build web applications. Having gone
through a programming bootcamp it gave me a huge acceleration in
learning. It also gave me many insight to how students learn, and where
I built out <a href='http://pairstudying-old.herokuapp.com/'>pair
programming v1</a>.
    <h2>
      <%= link_to 'Start Learning Ruby Today', "#", 'data-reveal-id' =>
'emailRegister', class:"large radius round button" %>

      <div id="emailRegister" class="reveal-modal" data-reveal>
        <h3>Awesome. Email me the next steps!</h3>
          <div class="row">
            <div class="small-12 large-6 columns">
              <%= simple_form_for @contact do |f| %>
                <%= f.input :email, placeholder: "user@domain.com" %>
                <%= f.button :submit, 'Submit'  %>
              <% end %>
            </div>
          </div>
        </form>
      </div>
    </h2>
  </div>
  <div class='small-12 large-8 large-centered columns'>
    <a href='https://twitter.com/johnmoon6'<i class="fa
fa-twitter"></i><a/>
    <a href='www.linkedin.com/in/jmoon90/'<i class="fa
fa-linkedin"></i></a>
    <a href='https://plus.google.com/u/0/107526635862468279667/about'<i class="fa fa-google-plus"></i>
  </div>
</div>
