<div class='row'>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
      <h1>Frequently Asked Questions</h1>
    </div>
  </div>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
      <h3>What is Pair Studying?</h3>
      <p>We want to create an environment where people all over the
world can come to learn how to program through community and mentorship</p>
    </div>
  </div>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
      <h3>What's the schedule and time commitment?</h3>
<p>We expect around 10-20 hrs per week. A mentor is provided as a resource
which will be the responsiblity of the learner to utilize. Anyone who
wants to learn is capable</p>
    </div>
  </div>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
      <h3>When can I start?</h3>
      <p>You can start today! Once you register for the next class, we
release prework for you to start immediately. Classes start 2nd Sunday
of the month. During prework one-on-one mentorship is not
available. However, there will be office hours where students can
utilize</p>
    </div>
  </div>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
      <h3>What does 1 on 1 with mentors include?</h3>
      <p>Mentors are programmers who are currently working
professionally or as a hobbist. Mentors conduct 1 on 1 screen
sharing to talk about programming challenges, career advice, and form study
paths</p>
    </div>
  </div>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
      <h3>Complete beginner here. Is that okay?</h3>
      <p>That's okay! We teach you programming fundamentals from the
beginning, so that everyone is on the same track. We tailored our
materials and curriculum so that beginners can benefit the most
</p>
    </div>
  </div>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
      <h3>What if I fall behind?</h3>
      <p>Once you enroll in the course, all the materials will be
available to you even after the 3 weeks. You won't be getting 1 on 1
mentorship, but you will be able to ask questions and ask your peers in
the community forum. In addition, example code will be provided for reference</p>
    </div>
  </div>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
      <h3>Our Promise</h3>
      <p>We guarantee that you will be satisfied with the support and
materials we provide for you to learn. If you aren't satifised with our
course, we'll give you a 100% refund. No questions asked</p>
    </div>
  </div>
  <div class='text-center'>
    <div class="medium-6 large-centered columns service">
    </div>
  </div>
</div>
