<div class="small-12 large-offset-1 columns">
  <h1>Successful Students</h1>
</div>

<div class="row">
  <div class="small-12 large-1 large-offset-1 columns">
    <a class="th" href="https://s3.amazonaws.com/pairstudying/images/ethan.JPG">
      <img src="https://s3.amazonaws.com/pairstudying/images/ethan.JPG">
    </a>
  </div>
  <div class="small-12 large-8 columns">
    <p class='pstyle'>"The videos were a nice addition to the program,
it helps me to learn when I can see how someone writes code. The
problems presented were a good challenge, totally got me excited upon
completion and kept me feeling like I was understanding it. Overall I
felt good about it and really appreciated the one on one video help. And
thank you for staying in touch and helping outside of the course as
well!"</p>
  </div>
  <div class="large-2 columns">
    <p>He is now a student at a 12-wk bootcamp in NYC </p>
  </div>
</div>
