<div class='row price_layout'>
  <div class='small-12 large-6 columns'> <ul class="pricing-table">
      <li class="title">3 Weeks Ruby</li>
      <li class="price">$99.99</li>
      <li class="description"><b>Learn and master Ruby through weekly
study materials. Combining the best online resources with our home-made
materials</b></li>
      <li class="bullet-item">3 office hours per week</li>
      <li class="bullet-item">1 hour one-on-one with mentor per week</li>
      <li class="bullet-item"><a
href='https://docs.google.com/document/d/1Km1zIrE5aLECeUefmC4LyVKwyDWQVOU-9ZrBMQEZ1Iw/edit' target="_blank">Ruby
Curriculum Overview</a></li>
      <li class="cta-button">
<div class='row'>
  <div class='small-12 medium-6 large-centered columns'>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
    target="_top">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="johnmoonyy@gmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="3 Weeks Ruby">
      <input type="hidden" name="amount" value="99.99">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="button_subtype" value="services">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="tax_rate" value="0.000">
      <input type="hidden" name="shipping" value="0.00">
      <input type="hidden" name="bn"
      value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
      <input type="image"
      src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
      border="0" name="submit" alt="PayPal - The safer, easier way to pay
      online!">
      <img alt="" border="0"
      src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
      height="1">
    </form>
  </div>
</div>
</li>
    </ul>
  </div>
  <div class='small-12 large-6 columns'>
    <ul class="pricing-table">
      <li class="title">4 Weeks Rails</li>
      <li class="price">TBD</li>
      <li class="description">Coming Soon</li>
      <li class="bullet-item">3 office hours per week</li>
      <li class="bullet-item">1 hour one-on-one with mentor per week</li>
      <li class="bullet-item">1 guest speaker per week</li>
      <li class="bullet-item">Rails Curriculum Not available</li>
      <li class="cta-button"><a class="button" href="#">Coming Soon</a></li>
    </ul>
  </div>
</div>

<div class='small-12 medium-8 large-centered columns'>
  <div>
    <p class='font-size'>*If you are currently serving or have served in
 the United States military in the past, please <a
href="mailto:johnmoonyy@gmail.com?subject=Free - 3 Week Ruby for
 military personnel">email me</a> for a free course. And thank you for your service.</b>
    <h2>
      <%= link_to 'Try 1 week for free', "#", 'data-reveal-id' =>
'emailRegister', class:"medium radius button" %>

      <div id="emailRegister" class="reveal-modal" data-reveal>
        <h3>Awesome. Email me the next steps!</h3>
          <div class="row">
            <div class="small-12 large-6 columns">
              <%= simple_form_for @contact do |f| %>
                <%= f.input :email, placeholder: "user@domain.com" %>
                <%= f.button :submit, 'Submit'  %>
              <% end %>
            </div>
          </div>
        </form>
      </div>
    </h2>
  </div>
</div>

